@media screen and (min-width:0px) and (max-width:480px){
*{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    display:grid;
    grid-template-columns: auto auto;
    gap: 46%;
    margin: 5px;
    
}
.img-perfil{
    border-radius: 50%;
}
.linea {
    height: 1px;
    background-color:#2222 ;
    margin: -8px;
    margin-bottom: 45px;
}
.historias {
    border: solid 1px #2222;
    padding: 20px 0px 20px 0px;
    width: 90%;
    margin: auto;
    border-radius: 5px;
    display:grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
    margin-bottom: 50px;
}
.img-h {
    border-radius: 50px;
    width: 70px;
}
.principal{
    display: grid;
    grid-template-rows: auto auto auto auto ;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "area1 area1"
    "area2 area2"
    "area3 area3"
    "area4 area4";
    width: 90%;
    height: 600px;
    margin: auto;
    margin-bottom: 150px;
}
.img-perf-2{
    border-radius: 30px;
}
a {
    text-decoration: none;
    margin-top: 7px;
    font-size: 30px;
}
.nombre {
    margin-top: 20px;
    font-size:20px;
    color: #262626;
}
.img-perf-3{
    width: 90%;
    margin-left: 19px;
    width: 90%;
}
p {
    font-size: 14px;
    padding-left: 20px;
    width: 90%;
}
.comentarios {
    color:#A49B9B ;
}
.item-1 {
    grid-area: area1;
    padding: 8px 0px 8px 8px;
    border: solid 1px #2222;
    display: grid;
    grid-template-columns: auto 285px 30px;
    
}
.item-2 {
    grid-area: area2;
    padding:28px 0px 13px 0px;
    border: solid 1px #2222;
    border-bottom: none;
}
.item-3 {
    grid-area: area3;
    border: solid 1px #2222;
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    padding-left: 20px;
    border-bottom: none;
    border-top: none;
}
.item-4 {
    grid-area: area4;
    padding: 0px 0px 14px 0px;
    border: solid 1px #2222;
    border-top: none;
}
footer {
    background-color: #222222;
    margin: -8px;
    padding: 15px 0px 15px 0px;
    color: white;
    text-align: center;
    border-top: none;
}


}




